@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: inherit;
}

body {
    background-color: #EEEEEE;
    color: #23374D;
}

nav {
    height: 70px;
    background: #0085FF;
    position: relative;
    padding: 0 150px;
    line-height: 70px;
    z-index: 999;
    width: 100%;
    box-shadow: 10px 10px 27px -14px rgba(0,0,0,0.16);
    -webkit-box-shadow: 10px 10px 27px -14px rgba(0,0,0,0.16);
    -moz-box-shadow: 10px 10px 27px -14px rgba(0,0,0,0.16);
}

nav a img {
    margin-top: 17px;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav ul a {
    display: inline-block; 
    margin-right: 25px;
    transition: .7s;
    padding: 0px 10px;
    text-decoration: none;
    color:white;
    font-weight: 600;
}

.open-nav-responsive {
    display: none;
    float: right;
    color: white;
    font-weight: 800;
}

nav ul a:hover {
    background-color: #23374D;
}

#expandNav {
    display: none;
}

@media screen and (max-width: 1180px) {
    nav {
        padding: 0px 15px;
    }
}

@media screen and (max-width: 840px) {
    nav ul {
        display: block;
        max-height: 0;
    	overflow: hidden;
    	-webkit-transition: max-height 0.3s;
    	-moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
    	transition: max-height 0.3s;
        float: right;
        width: 100%;
        line-height: 40px;
    }

    nav ul a {
        text-align: left;
        width: 100%;
        background-color: #0085FF;
        padding: 5px 0px 5px 5%;
    }

    .open-nav-responsive {
        display: block;
    }

    nav input:checked ~ ul {
        max-height: 400px;
        /*Para fazer com que o menu saia da esquerda ou direita, você deve trocar max-height por max-width*/
    }
}

header {
    background: url('../images/fonds/header-background.png');
    background-size: cover;
}

.header-main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    padding: 70px 20px;
}

.header-main-image img{
    float: right;
    margin-right: 100px;
    width: 70%;
}

.header-main-text {
    position: relative;
    top: 20%;
    color: white;
    font-family: monospace, sans-serif;
    font-weight: 700;
    font-size: 2em;
}

.header-main-text h1,p {
    margin-bottom: 25px;
}

.header-main-text a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.7em;
    background: #23374D;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

@media screen and (max-width: 1180px) {
    .header-main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 350px;
    }
    
    .header-main-image {
        display: none;
    }
    
    .header-main-text {
        text-align: center;
        top: 0%;
    }
}


footer {
    background-color: #23374D;
    color: white;
}

footer .footer-image {
    display: block;
    margin: 0 auto;
}

footer .pied {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px 10px;
}

footer .pied div {
    padding: 0px 80px;
}

footer .footer-plan span {
    font-weight: 800;
}

footer h3 {
    margin-bottom: 20px;
}

footer ul li {
    list-style: none;
    margin-top: 10px;
}

footer ul li a {
    text-decoration: none;
    color: white; 
}

@media screen and (max-width: 1280px) {

    footer .pied {
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 10px;
        text-align: center;
    }

    footer .footer-image {
        display: none;
    }
    
    footer .pied div {
        margin-bottom: 30px;
        padding: 0px 40px;
    }

    footer .pied .footer-info {
        margin-bottom: 0px;
    }
}